{% extends "base.html" %}

{% block title %}Мои агенты{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/agent_selection.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Мои агенты</h1>
    <div class="agent-grid">
        {% for agent in agents %}
        <!-- Карточка для каждого агента -->
        <div class="agent-card">
            <h2>{{ agent.name }}</h2>
            <p>ID: {{ agent.id }}</p>
            <p class="agent-status">Агент {{ 'включен' if agent.is_active else 'выключен' }}</p>
            <div class="agent-actions">
                <button onclick="location.href='{{ url_for('agent_bp.agent_settings', agent_id=agent.id) }}'" class="settings-button">⚙ Настроить агента</button>
                <button onclick="location.href='{{ url_for('session_bp.assign_platform', agent_id=agent.id) }}'" class="assign-platform-button">
                    Назначить
                </button>
                <br><a href="{{ url_for('agent_bp.toggle_agent_status', agent_id=agent.id) }}">
                    <button class="{{ 'active' if agent.is_active else 'inactive' }}">
                        {{ 'Выключить' if agent.is_active else 'Включить' }}
                    </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if session.get('role_id') == 1 %}
    <h2>Все агенты</h2>
    <div class="agent-grid">
        {% for agent in other_agents %}
        <!-- Карточка для агентов других пользователей -->
        <div class="agent-card">
            <h2>{{ agent.name }}</h2>
            <p>ID: {{ agent.id }}</p>
            <div class="tooltip">
                <p>Пользователь: {{ agent.user_name }}</p>
                <span class="tooltip-text">{{ agent.user_name }}</span>
            </div>
            <p class="agent-status">Агент {{ 'включен' if agent.is_active else 'выключен' }}</p>
            <div class="agent-actions">
                <button onclick="location.href='{{ url_for('agent_bp.agent_settings', agent_id=agent.id) }}'" class="settings-button">⚙ Настроить агента</button>
                <button onclick="location.href='{{ url_for('session_bp.assign_platform', agent_id=agent.id) }}'" class="assign-platform-button">
                    Назначить
                </button>
                <br><a href="{{ url_for('agent_bp.toggle_agent_status', agent_id=agent.id) }}">
                    <button class="{{ 'active' if agent.is_active else 'inactive' }}">
                        {{ 'Выключить' if agent.is_active else 'Включить' }}
                    </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
