{% extends "base.html" %}

{% block title %}Назначить платформу{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assign_platform.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Назначить платформу для агента: {{ agent.name }}</h1>
    <form method="POST" action="{{ url_for('session_bp.create_session', agent_id=agent.id) }}" onsubmit="return validateForm()">
        <label for="platform">Выберите платформу:</label>
        <select name="platform" id="platform" onchange="toggleTokenField()">
            <option value="" selected disabled>Выберите платформу...</option>
            {% for platform in platforms %}
                <option value="{{ platform.id }}">{{ platform.name }}</option>
            {% endfor %}
        </select>

        <!-- Поле для токена -->
        <div id="token-field">
            <label for="api_token">Введите токен Telegram бота:</label>
            <input type="text" name="api_token" id="api_token" placeholder="Введите токен" />
            <span id="error-message">Токен недействителен. Проверьте правильность ввода.</span>
        </div>

        <button type="submit">Создать сессию</button>
    </form>
</div>
{% endblock content %}