<!--
base.html
Главный шаблон HTML для приложения, служащий основой для всех страниц.
Он содержит боковое меню навигации, место для контента страницы и подключение основных CSS и JavaScript файлов.
Использует механизм шаблонов Jinja2 для динамической вставки блоков контента и подключения CSS и JavaScript.
-->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Подключение основных CSS файлов для всего приложения -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Блок для добавления дополнительных стилей на страницах, которые наследуют этот шаблон -->
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <!-- Боковая панель навигации -->
    <div class="sidebar">
        <div class="logo"><a href="/">KLASTERBOT</a></div>
            <nav class="menu">
                <a href="{{ url_for('agent_bp.agent_selection') }}"
                   class="menu-item {% if request.path == url_for('agent_bp.agent_selection') %}active{% endif %}">
                    Агенты
                </a>
                <a href="{{ url_for('session_bp.sessions') }}"
                   class="menu-item {% if request.path == url_for('session_bp.sessions') %}active{% endif %}">
                    Сессии
                </a>
                <a href="{{ url_for('agent_bp.agent_settings') }}"
                   class="menu-item {% if request.path == url_for('agent_bp.agent_settings') %}active{% endif %}">
                    Создать агента
                </a>
                <a href="{{ url_for('chat_bp.chat') }}"
                   class="menu-item {% if request.path == url_for('chat_bp.chat') %}active{% endif %}">
                    Тестовый чат
                </a>
                <a href="{{ url_for('user_bp.user_profile') }}"
                   class="menu-item {% if request.path == url_for('user_bp.user_profile') and not request.args.get('user_id') %}active{% endif %}">
                    Профиль
                </a>
                <a href="{{ url_for('chat_bp.all_chats') }}"
                   class="menu-item {% if request.path == url_for('chat_bp.all_chats') and not request.args %}active{% endif %}">
                    Все чаты
                </a>
                {% if session.get('role_id') == 1 %}
                    <a href="{{ url_for('user_bp.add_user') }}"
                       class="menu-item {% if request.path == url_for('user_bp.add_user') %}active{% endif %}">
                        Добавить пользователя
                    </a>
                    <a href="{{ url_for('user_bp.user_list') }}"
                       class="menu-item {% if request.path == url_for('user_bp.user_list') %}active{% endif %}">
                        Пользователи
                    </a>
                {% endif %}
                <a href="{{ url_for('user_bp.logout') }}"
                   class="menu-item logout">
                    Выход
                </a>
            </nav>
    </div>

    <!-- Основное содержимое страницы -->
    <div class="content">
        <!-- Обработка flash-сообщений для отображения ошибок или успехов -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Блок для основного контента, который будет заполнен на страницах, использующих этот шаблон -->
        {% block content %}{% endblock %}
    </div>

    <!-- Подключение основных JavaScript файлов для функциональности -->
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/agent_settings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/change_password.js') }}"></script>
    <script src="{{ url_for('static', filename='js/assign_platform.js') }}"></script>
    <script src="{{ url_for('static', filename='js/all_chats.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sessions.js') }}"></script>

</body>
</html>
