<!--
change_password.html
Шаблон HTML для страницы смены пароля пользователя.
Позволяет пользователю ввести новый пароль и подтвердить его для обновления текущего пароля.
-->

{% extends "base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock %}

{% block content %}
<h1>Смена пароля</h1>
<form method="post" action="{{ url_for('user_bp.change_password', user_id=user_id) }}">
    <input type="hidden" name="user_id" value="{{ user_id }}">
<!-- Поле для ввода нового пароля -->
    <div class="form-group">
        <label for="new_password">Новый пароль</label>
        <input type="password" id="new_password" name="new_password" required>
    </div>

    <!-- Поле для подтверждения нового пароля -->
    <div class="form-group">
        <label for="confirm_password">Подтвердите пароль</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
    </div>

    <!-- Кнопка для подтверждения смены пароля -->
    <button type="submit">Сменить пароль</button>
</form>
{% endblock %}
