{% extends "base.html" %}

{% block title %}Чат{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block content %}
<div class="input-block">
    <label class="label-agent-select" for="agent-select">Выберите агента:</label>
    <select id="agent-select" name="agent">
        <option value="">-- Выберите агента --</option>
        {% for agent in agents %}
            {% if agent.is_active %}
                <option value="{{ agent.id }}">
                    {{ agent.name }} (включен)
                </option>
            {% else %}
                <option value="{{ agent.id }}" disabled>
                    {{ agent.name }} (выключен)
                </option>
            {% endif %}
        {% endfor %}
    </select>
</div>

<div id="agent-message" style="display: none;">
    <p id="start-message"style="display: none;"></p>
    <p id="error-message" style="display: none;"></p>
</div>

<div class="chat-container" style="display: none;">
    <h2 id="agent-name"></h2>
    <p class="agent-status"></p>

    <!-- Окно для сообщений -->
    <div id="chat-box" class="chat-box"></div>

    <!-- Поле для ввода сообщения -->
    <div class="chat-input-area">
        <label for="chat-input">База знаний:</label>
        <textarea id="chat-input" placeholder="Введите свой запрос..."></textarea>
        <button id="send-button">➤</button>
        <button id="clear-button">Очистить чат</button>
    </div>
</div>
{% endblock %}
