<!-- user_profile.html -->
{% extends "base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<h1>Профиль пользователя</h1>
<form method="post" action="{{ url_for('main.user_profile', user_id=user.id) }}">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <div class="form-group">
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
    </div>
    <div class="form-group">
        <label for="full_name">Полное имя</label>
        <input type="text" name="full_name" id="full_name" value="{{ user.full_name if user.full_name else "" }}" placeholder="Иванов Иван Иванович">
    </div>
    <div class="form-group">
        <label for="email">Электронная почта</label>
        <input type="email" name="email" id="email" value="{{ user.email if user.email else "" }}" placeholder="example@gmail.com">
    </div>
    <div class="form-group">
        <label for="phone_number">Телефон</label>
        <input type="tel" name="phone_number" id="phone_number" value="{{ user.phone_number if user.phone_number else "" }}" placeholder="+7 ### ### ## ##">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" value="{{ user.password }}" readonly>
        <button type="button" onclick="window.location.href='{{ url_for('main.change_password') }}'">Сменить пароль</button>
    </div>
    <button type="submit">Сохранить изменения</button>
</form>
{% endblock %}
