.container {
    background-color: #2C2C3D;
    padding: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-block {
    width: 96.5%;
    margin-bottom: 15px;
}

.input-block label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    align-items: center;
}

.input-block input, .input-block textarea, .input-block select {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1E1E2F;
    color: #FFFFFF;
}

.input-block {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    font-size: 16px;
}

.input-block input[type="checkbox"] {
    width: auto; /* Убирает лишнюю ширину */
    height: auto;
    margin: 0;
}

#bot-instruction {
    width: 100%;
    min-height: 40px; /* Минимальная высота */
    overflow: hidden; /* Скрывает скролл при изменении размера */
    resize: none; /* Отключает ручное изменение размера */
}

#temperature-value {
    display: inline-block;
    margin-left: 10px;
}

#save-button {
    padding: 10px;
    border: none;
    background-color: #9F7AEA;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}