.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222; /* Темный фон для контейнера */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Больше контраста в тени */
    font-family: 'Arial', sans-serif;
    color: #fff; /* Белый текст */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #e0e0e0; /* Светло-серый текст */
    text-align: center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #b3b3b3; /* Нежно-серый цвет для текста меток */
}

select, input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333; /* Темный фон для полей */
    color: #fff; /* Белый текст */
    font-size: 14px;
}

input {
    width: 575px;
}

input::placeholder {
    color: #777;
}

input:focus, select:focus {
    border-color: #9F7AEA;
    outline: none;
    box-shadow: 0 0 5px rgba(183, 68, 191, 0.5); /* Зеленая подсветка */
}

button {
    width: 100%;
    padding: 12px;
    background-color: #9F7AEA; /* Зеленый цвет кнопки */
    color: #fff; /* Белый текст */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

button:hover {
    background-color: #9943bf; /* Более темный зеленый при наведении */
    transform: scale(1.02); /* Легкое увеличение */
}

#token-field {
    display: none; /* Скрыто по умолчанию */
    margin-top: 10px;
}

#error-message {
    color: #ff6b6b; /* Яркий красный цвет для ошибок */
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 15px;
    display: none;
    text-align: left;
}

#manual-setup, #auto-setup {
    margin-top: 20px;
}

textarea {
    width: 575px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    min-height: 40px;
    overflow: hidden;
    resize: none;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}