/* sidebar.css */

/* Основной контейнер боковой панели */
.sidebar {
    width: 250px;
    background-color: #2C2C3D;
    padding: 20px 20px 24.5% 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-height: 100%;
    margin-right: 10px;
}

/* Логотип в боковой панели */
.logo {
    font-size: 24px;
    color: #9F7AEA;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Меню в боковой панели */
.menu {
    width: 100%;
}

/* Элемент меню */
.menu-item {
    display: block;
    padding: 15px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

/* Эффект наведения и активное состояние элемента меню */
.menu-item:hover, .menu-item.active {
    background-color: #9F7AEA;
}

/* Кнопка выхода */
.menu-item.logout {
    color: #ff4d4d; /* Яркий цвет для выделения кнопки выхода */
}

/* Эффект наведения на кнопку выхода */
.menu-item.logout:hover {
    background-color: #ff3333; /* Цвет фона при наведении на кнопку выхода */
    color: white;
}
